[run]
omit =
     src/dask_awkward/tests/test_*.py
     src/dask_awkward/tests/__init__.py
     src/dask_awkward/_version.py
source =
     src/dask_awkward

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    except ImportError:
    NotImplementedError
    DaskAwkwardNotImplemented
    _ipython_key_completions_
