graft src

global-exclude .git*
global-exclude .pytest_cache
global-exclude .DS_Store
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
global-exclude __pycache__

include LICENSE README.md setup.py setup.cfg pyproject.toml
