name: test-environment
channels:
  - conda-forge
dependencies:
  # required dependencies
  - python=3.9
  - dask
  - pytest
  - pyarrow
  - pip
  - pip:
    - awkward>=1.9.0rc4
    - awkward-datasets
