name: awkward-main

on:
  push:
    branches: ['main']
    paths-ignore: ['**.md', 'docs/**']
  pull_request:
    paths-ignore: ['**.md', 'docs/**']
  workflow_dispatch:

concurrency:
  group: 'awkward-main-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        lfs: true
    - name: Checkout scikit-hep/awkward
      uses: actions/checkout@v6
      with:
        repository: scikit-hep/awkward
        path: repo-awkward
        submodules: true
        ref: main
        fetch-depth: 0
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Prepare awkward-cpp
      run: |
        python3 -m pip install nox
        cd repo-awkward && nox -s prepare
    - name: Install
      run: |
        python3 -m pip install pip wheel -U
        python3 -m pip install -q --no-cache-dir -e .[complete,test]
        python3 -m pip uninstall -y awkward awkward-cpp
        python3 -m pip install -v ./repo-awkward/awkward-cpp
        python3 -m pip install ./repo-awkward --no-deps
    - name: Run tests
      run: |
        python3 -m pytest
