name: conda Tests

on:
  push:
    branches: ['main']
    paths-ignore: ['**.md', 'docs/**']
  pull_request:
    paths-ignore: ['**.md', 'docs/**']
  workflow_dispatch:

concurrency:
  group: 'conda-tests-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  pytest:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.13"]
    runs-on: ${{matrix.platform}}
    steps:
    - name: Checkout source
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        lfs: true
    - name: Setup Conda Environment
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        use-mamba: true
        channel-priority: strict
        python-version: ${{ matrix.python-version }}
        environment-file: .github/envs/environment-${{ matrix.python-version }}.yml
        activate-environment: test-environment
        auto-activate-base: false
    - name: Install package
      shell: bash -l {0}
      run: |
        conda activate test-environment
        python -m pip install -q --no-cache-dir .[complete,test]
    - name: Run tests
      shell: bash -l {0}
      run: |
        conda activate test-environment
        conda list
        python -m pip list
        python -m pytest
