name: PyPI Tests

on:
  push:
    branches: ['main']
    paths-ignore: ['**.md', 'docs/**']
  pull_request:
    paths-ignore: ['**.md', 'docs/**']
  workflow_dispatch:

concurrency:
  group: 'pypi-tests-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "3.14t"]
    runs-on: ${{matrix.platform}}
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        lfs: true
    - name: setup Python ${{matrix.python-version}}
      uses: actions/setup-python@v6
      with:
        python-version: ${{matrix.python-version}}
    - name: install
      run: |
        pip install pip wheel -U
        pip install 'dask[array,dataframe,distributed,diagnostics]<2025.4.0'
        pip install -q --no-cache-dir .[complete,test]
        pip list
    - name: test
      run: |
        python -m pytest
