name: uproot-main

on:
  push:
    branches: ['main']
    paths-ignore: ['**.md', 'docs/**']
  pull_request:
    paths-ignore: ['**.md', 'docs/**']
  workflow_dispatch:

concurrency:
  group: 'uproot-main-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        lfs: true
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Install and test
      run: |
        python3 -m pip install pip wheel -U
        python3 -m pip install -q --no-cache-dir -e .[complete,test]
        cd ..
        git clone https://github.com/scikit-hep/uproot5
        cd uproot5
        python3 -m pip install . --group dev
        python3 -m pytest -k dask
